* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  overflow-x: hidden;
  position: relative;
  background-color: #f95ab6;
}
/* Learning css */

.cent {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cent h3 {
  color: white;
}

.cent button {
  width: 40px;
  height: 40px;
  margin: 10px;
  font-size: 20px;
}

.trips {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: rgb(43, 119, 186);
}

.trips .header {
  display: flex;
  justify-content: center;
  gap: 30px;
  height: 60px;
  align-items: center;
  background-color: #f161b5;
}

.trips .header p,
h2,
h3 {
  font-size: 25px;
}

/* Ends */

.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-left: 150px;
  margin-right: 150px;
  /* background-color: rgb(220, 134, 21); */
  padding: 4px;
  align-items: center;
  z-index: 2;
  margin-top: 7px;
}

.nav-links {
  display: flex;
  gap: 50px;
  /* z-index: 5; */
}

.nav-links a {
  font-size: 15px;
  font-family: "poppins", sans-serif;
  color: rgb(11, 83, 142);
  transition: all ease;
  font-weight: 400;
}

.nav-links a:hover {
  color: brown;
}

.search input {
  border: 1px solid olive;
  border-radius: 10px;
  padding: 2px;
  text-align: center;
  height: 30px;
  /* z-index: 1; */
}
.logo img {
  width: 40px;
  border-radius: 20px 40px 20px 0px;
}

.small {
  display: none;
}

.homeMe {
  position: relative;
  display: flex;
  flex-direction: column;
}

.homeMe h2 {
  display: none;
  position: absolute;
  text-align: center;
  margin-top: 21px;
  margin-left: auto;
  width: 100%;
  margin-right: auto;
  font-size: 15px;
}

.homeMe h2 span {
  background-color: aliceblue;
  font-size: 15px;
  font-family: "poppins", sans-serif;
  padding: 1px;
}

.homeCont {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.conts img {
  width: 420px;
  transform: scale(1.2);
  margin-left: -120px;
}
.conts {
  margin-top: 114px;
  margin-right: 290px;
}

.cont {
  margin-left: 150px;
  display: flex;
  flex-direction: column;
}

.cont h1 {
  /* width: 450px; */
  font-size: 4rem;
  font-weight: 700;
  font-family: "poppins", sans-serif;
  line-height: 60px;
  z-index: 1;
}

.cont p {
  font-weight: 600;
  font-size: 10px;
  margin-bottom: 10px;
  margin-top: 18px;
  font-family: "poppins", sans-serif;
}

.home-shop button {
  height: 50px;
  width: 200px;
  color: white;
  background-color: black;
  cursor: pointer;
}

.homeFooter {
  position: absolute;
  width: 100%;
  background-color: black;
  bottom: -89px;
  height: 70px;
  color: aliceblue;
  padding-left: 150px;
  padding-right: 150px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homeFootItems {
  border-right: 2px solid wheat;
  padding-right: 15px;
}

.codies {
  padding-left: 30px;
  display: none;
  /* margin-right: 150px; */
  /* width: 100%; */
}

.codies span {
  padding: 1px;
  background-color: antiquewhite;
  color: black;
  border-radius: 10px 0 0 0;
}

.home-ceal {
  position: relative;
  background-color: rgb(243, 244, 245);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 89px;
}

.home-ceal h5 {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 10px;
  color: rgb(81, 40, 40);
}

.home-ceal h2 {
  font-size: 2rem;
  font-family: "poppins", sans-serif;
  margin-bottom: 10px;
}

.home-ceal h6 {
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  margin-bottom: 10px;
}

.img-products {
  display: flex;
  position: relative;
  gap: 25px;

  margin-top: 120px;
  transform: scale(1.2);
}

.img-products .pro img {
  width: 110px;
  height: 150px;
  object-fit: cover;
  margin-left: 50px;
  margin-top: -30px;
  box-shadow: 0px 0px 18px 0px black;
}

.pro {
  background-color: rgb(4, 54, 37);
  width: 210px;
  height: 220px;
  position: relative;
  display: flex;
  flex-direction: column;

  padding-left: 20px;
}

.pro span {
  background-color: white;
  width: 40px;
  height: 2px;
  /* bottom: 0; */
  /* position: absolute; */
  margin-top: 30px;
}

.pro p {
  font-size: 10px;
  color: white;
  margin-top: 10px;
  font-family: "poppins", sans-serif;
  margin-top: 1px;
  line-height: 13px;
}

.pro h3 {
  color: white;
  font-family: "poppins", sans-serif;
  font-size: 14px;
  font-weight: 700;
}
